obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/RazorPagesMovie.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/RazorPagesMovie.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.assets.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorAssemblyInfo.cs
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/RazorPagesMovie.deps.json
bin/Debug/netcoreapp3.1/RazorPagesMovie.dll
bin/Debug/netcoreapp3.1/RazorPagesMovie.pdb
bin/Debug/netcoreapp3.1/RazorPagesMovie.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/RazorPagesMovie.runtimeconfig.json
bin/Debug/netcoreapp3.1/RazorPagesMovie.Views.dll
bin/Debug/netcoreapp3.1/RazorPagesMovie.Views.pdb
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
obj/Debug/netcoreapp3.1/RazorPagesMovie.csproj.CopyComplete
obj/Debug/netcoreapp3.1/RazorPagesMovie.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/RazorPagesMovie.dll
obj/Debug/netcoreapp3.1/RazorPagesMovie.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.pdb
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.1/RazorPagesMovie.TagHelpers.input.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.TagHelpers.output.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.Views.dll
obj/Debug/netcoreapp3.1/RazorPagesMovie.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/staticwebassets/RazorPagesMovie.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/RazorPagesMovie.StaticWebAssets.xml
.vs/RazorPagesMovie/xs/project-cache/RazorPagesMovie-Debug.json
obj/project.assets.json
obj/RazorPagesMovie.csproj.nuget.cache
obj/RazorPagesMovie.csproj.nuget.dgspec.json
obj/RazorPagesMovie.csproj.nuget.g.props
.vs/RazorPagesMovie/xs/UserPrefs.xml
bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/System.Text.Json.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/netcoreapp3.1/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/e_sqlite3.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.resources.dll
bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
obj/Debug/netcoreapp3.1/Razor/Pages/Movies/Create.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Movies/Delete.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Movies/Details.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Movies/Edit.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Movies/Index.cshtml.g.cs
obj/dotnet-aspnet-codegenerator
obj/project.assets.json
obj/RazorPagesMovie.csproj.codegeneration.targets
obj/RazorPagesMovie.csproj.nuget.dgspec.json
obj/RazorPagesMovie.csproj.nuget.g.props
obj/.store/dotnet-aspnet-codegenerator/3.1.2/project.assets.json
obj/.store/dotnet-aspnet-codegenerator/3.1.2/restore.csproj.nuget.g.props
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/.nupkg.metadata
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/.signature.p7s
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator.3.1.2.nupkg
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator.3.1.2.nupkg.sha512
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator.nuspec
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/Icon.png
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/dotnet-aspnet-codegenerator.deps.json
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/dotnet-aspnet-codegenerator.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/dotnet-aspnet-codegenerator.pdb
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/dotnet-aspnet-codegenerator.runtimeconfig.json
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/dotnet-aspnet-codegenerator.xml
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/DotnetToolSettings.xml
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/Microsoft.Extensions.FileProviders.Abstractions.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/Microsoft.Extensions.FileProviders.Physical.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/Microsoft.Extensions.FileSystemGlobbing.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/Microsoft.Extensions.Primitives.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.pdb
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.xml
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/Newtonsoft.Json.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/NuGet.Frameworks.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/build/microsoft.visualstudio.web.codegeneration.tools.targets
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/buildMultiTargeting/microsoft.visualstudio.web.codegeneration.tools.targets
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/shims/win-x64/dotnet-aspnet-codegenerator.exe
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/shims/win-x86/dotnet-aspnet-codegenerator.exe
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/toolassets/net461/Microsoft.VisualStudio.Web.CodeGeneration.Msbuild.dll
obj/.store/dotnet-aspnet-codegenerator/3.1.2/dotnet-aspnet-codegenerator/3.1.2/tools/netcoreapp3.1/any/toolassets/netstandard2.0/Microsoft.VisualStudio.Web.CodeGeneration.Msbuild.dll
obj/RazorPagesMovie.csproj.EntityFrameworkCore.targets
obj/project.nuget.cache
obj/RazorPagesMovie.csproj.nuget.dgspec.json
obj/RazorPagesMovie.csproj.nuget.g.props
obj/RazorPagesMovie.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/netcoreapp3.1/RazorPagesMovie.exe
bin/Debug/netcoreapp3.1/RazorPagesMovie.exe
.vs/RazorPagesMovie/v16/.suo
.vs/RazorPagesMovie/config/applicationhost.config
obj/project.nuget.cache
obj/RazorPagesMovie.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/RazorPagesMovie.csproj.nuget.g.props
obj/RazorPagesMovie.csproj.nuget.dgspec.json
obj/project.nuget.cache
obj/project.assets.json
.vs/RazorPagesMovie/DesignTimeBuild/.dtbcache.v2
obj/project.assets.json
obj/project.nuget.cache
obj/RazorPagesMovie.csproj.nuget.dgspec.json
obj/RazorPagesMovie.csproj.nuget.g.props
obj/project.nuget.cache
obj/project.assets.json
