obj/Debug/netcoreapp3.1/project.razor.json
obj/Debug/netcoreapp3.1/RazorPagesMovie.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/RazorPagesMovie.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.assets.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorAssemblyInfo.cs
bin/Debug/netcoreapp3.1/appsettings.Development.json
bin/Debug/netcoreapp3.1/appsettings.json
bin/Debug/netcoreapp3.1/RazorPagesMovie.deps.json
bin/Debug/netcoreapp3.1/RazorPagesMovie.dll
bin/Debug/netcoreapp3.1/RazorPagesMovie.pdb
bin/Debug/netcoreapp3.1/RazorPagesMovie.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/RazorPagesMovie.runtimeconfig.json
bin/Debug/netcoreapp3.1/RazorPagesMovie.Views.dll
bin/Debug/netcoreapp3.1/RazorPagesMovie.Views.pdb
bin/Debug/netcoreapp3.1/Properties/launchSettings.json
obj/Debug/netcoreapp3.1/RazorPagesMovie.csproj.CopyComplete
obj/Debug/netcoreapp3.1/RazorPagesMovie.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/RazorPagesMovie.dll
obj/Debug/netcoreapp3.1/RazorPagesMovie.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.pdb
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.1/RazorPagesMovie.TagHelpers.input.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.TagHelpers.output.cache
obj/Debug/netcoreapp3.1/RazorPagesMovie.Views.dll
obj/Debug/netcoreapp3.1/RazorPagesMovie.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Error.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.1/staticwebassets/RazorPagesMovie.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.1/staticwebassets/RazorPagesMovie.StaticWebAssets.xml
.vs/RazorPagesMovie/xs/project-cache/RazorPagesMovie-Debug.json
obj/project.assets.json
obj/RazorPagesMovie.csproj.nuget.cache
obj/RazorPagesMovie.csproj.nuget.dgspec.json
obj/RazorPagesMovie.csproj.nuget.g.props
.vs/RazorPagesMovie/xs/UserPrefs.xml
